
@{
    ViewBag.Title = "Home";
}

<style>
        /*.parent {
            align-items: center;
            justify-content: center;
        }*/
        /* .main_content {
            top: 160px;
            left: 160px;
            width: 800px;
            min-height: 500px;
            height: auto;
            background-color: #2185C5;
            position: relative;
        }

        .container {
            width: 640px;
            height: auto;
            margin: 0 auto;
            padding: 10px;
            position: relative;
        }
    */
    
</style>

<div  class="row" >

        <div class="col-lg-6" style=" align-items: center; padding: 10px; float: left; margin-top:12%">

            <label style="font-size:48px; ">
                Simple time tracking. powerful reporting.
            </label>
            <label style="font-size:24px; ">
                Turn your team on to productivity with gravity the time tracker.
            </label>
            <button style="height: 64px; width: 221px; left: -1px; top: 0px; background-color: #71a89e; color: white; box-shadow: 2px 2px black; border-radius: 8px; padding: 20px, 24px, 20px, 24px; ">
                Request early access
            </button>
        </div>

        <div  class="col-lg-6" style="align-items: center; padding: 10px; float: right; ">
            <img src="~/images/illustration1.png" width="90%"   style="align-items: center;"/>
        </div>
  
</div>



@*<div class="form-login" style=" background-color: sandybrown">
        <div class="row col-lg-12 " style=" align-items: center;width:100%">
            <div class="col-lg-6 " style=" align-items: center;  background-color: deeppink;">

                <label style="font-size:48px; ">
                    simple time tracking. powerful reporting.
                </label>
                <label style="font-size:24px; ">
                    turn your team on to productivity with gravity the time tracker.
                </label>
                <button style="height: 64px; width: 221px; left: -1px; top: 0px; background-color: #71a89e; color: white; box-shadow: 2px 2px black; border-radius: 8px; padding: 20px, 24px, 20px, 24px; ">
                    request early access
                </button>
            </div>

            <div class="col-lg-6 " style="align-items: center; padding: 10px; background-color: yellow;">
                <img src="~/images/illustration1.png" width="90%" />
            </div>
        </div>
    </div>*@


